body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 32px;
}

.grid-div {
  /* border-right: 1px solid lightgrey; */
  aspect-ratio: 1 / 1;
  max-width: 100%;
  max-height: 100%;
  flex-grow: 1;
  /* box-sizing: border-box; */
  opacity: 0.1;
}

/* .grid-div:hover {
  background-color: #f4f4f4;
} */

.gridRow {
  display: flex;
  min-height: 0;
  width: 100%;
  /* border-bottom: 1px solid lightgrey; */
  flex-grow: 1;
  flex-shrink: 1;
  /* box-sizing: border-box; */
}

#grid {
  width: 704px;
  height: 704px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid lightgray;
  border-left: 1px solid lightgray; */
  margin: 0 auto;
  /* box-sizing: border-box; */
}

#button {
  margin: 16px auto 0 auto;
}

button {
  border: none;
  background-color: #080808;
  padding: 8px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: 5%;
}
